<% layout("/layouts/boilerplate1")%>

    <body>
        <style>
            #filters {
                display: flex;
                flex-wrap: wrap;
                align-items: center;

            }

            .filter {
                text-align: center;
                margin-right: 2rem;
                margin-top: 2rem;
                opacity: 0.7;
            }

            .filter:hover {
                opacity: 1;
                cursor: pointer;
            }

            .tax-info {
                display: none;
            }

            .tax-toggle {
                border: 1px solid black;
                border-radius: 0.5rem;
                height: 3rem;
                padding: 1rem;
                margin-left: 5rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        </style>
        <!-- <h3>All Listings</h3> -->
        <div id="filters">
            <div class="filter">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-car"></i></div>
                <p>Cars</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-hat-cowboy"></i></div>
                <p>Accessories</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-shirt"></i></div>
                <p>Fashion</p>
            </div>
            <div class="filter">
                <a href="/listings/handbags" class="textdeco"><div><i class="fa-solid fa-bag-shopping"></i></div>
                <p>Designer Handbags</p></a>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-book"></i></div>
                <p>Books</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-couch"></i></div>
                <p>furniture</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-dumbbell"></i></div>
                <p>Sports-equipment</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-motorcycle"></i></div>
                <p>Bikes</p>
            </div>
            <div class="tax-toggle">
                <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Display Total After Taxes</label>
                </div>
            </div>
            </div>
            <div id="custom-cursor"></div>
            <ul>
                <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
                        <a href="/listings" class="listing-link">
                            <div class="card col listing-card" style="width: 20rem;">
                                <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcSyz7EMhpk4yK3DxWIdlrNp0gunxTknm8Bo__FRmwGTkAphq2cJcYN53_JCz_MiFxfhYz1BoPnj3qiM8CbZ0XPkWQWS_wzF-hojpXxfQh4" class="card-img-top" alt="ListingImage">
                                <div class="card-img-overlay"></div>
                                <div class="card-body">
                                    <p class="card-text">
                                        <b>
                                            Gucci Handbag
                                        </b> <br>&#8377; <span
                                            class="price">$70</span>/week &nbsp;
                                        <i class="tax-info">(+18% Tax)</i>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="/listings" class="listing-link">
                            <div class="card col listing-card" style="width: 20rem;">
                                <img src="https://www.christies.com/-/jssmedia/images/features/articles/2024/08/francis-souza-update/handbags.jpg?h=1650&iar=0&w=2650&rev=d0ad6215f8d04d92a76c25c7b838d5ce&hash=87a2c753f2598993d466ef872650b1899818f422" class="card-img-top" alt="ListingImage">
                                <div class="card-img-overlay"></div>
                                <div class="card-body">
                                    <p class="card-text">
                                        <b>
                                            Hermes Bag
                                        </b> <br>&#8377; <span
                                            class="price">1200</span>/week &nbsp;
                                        <i class="tax-info">(+18% Tax)</i>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="/listings" class="listing-link">
                            <div class="card col listing-card" style="width: 20rem;">
                                <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcRrU0F4tYN82-ngWUfEaS7zEKuLLRrghnxaGes9DgA1YrYy1EbHIpldm95m4mfx5wXx9K8pgP93yly7OVKvbp3wrOeIGM_0Bd4xCgVHkmv-" class="card-img-top" alt="ListingImage">
                                <div class="card-img-overlay"></div>
                                <div class="card-body">
                                    <p class="card-text">
                                        <b>
                                            Louis Vuitton Handbag
                                        </b> <br>&#8377; <span
                                            class="price">500</span>/week &nbsp;
                                        <i class="tax-info">(+18% Tax)</i>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="/listings" class="listing-link">
                            <div class="card col listing-card" style="width: 20rem;">
                                <img src="https://saclab.com/wp-content/uploads/2024/05/2023_07_27_Hermes-Mini-Kelly-Gold.webp" class="card-img-top" alt="ListingImage">
                                <div class="card-img-overlay"></div>
                                <div class="card-body">
                                    <p class="card-text">
                                        <b>
                                            Hermes Scalab Bag
                                        </b> <br>&#8377; <span
                                            class="price">7000</span>/week &nbsp;
                                        <i class="tax-info">(+18% Tax)</i>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="/listings" class="listing-link">
                            <div class="card col listing-card" style="width: 20rem;">
                                <img src="https://assets.hermes.com/is/image/hermesproduct/077785CKAJ_side_wm_4?size=3000,3000&extend=0,0,0,0&align=0,0&$product_item_grid_g$&wid=400&hei=400" class="card-img-top" alt="ListingImage">
                                <div class="card-img-overlay"></div>
                                <div class="card-body">
                                    <p class="card-text">
                                        <b>
                                            Hermes Clutch
                                        </b> <br>&#8377; <span
                                            class="price">5400</span>/week &nbsp;
                                        <i class="tax-info">(+18% Tax)</i>
                                    </p>
                                </div>
                            </div>
                        </a>
                </div>
            </ul>
    </body>

    <script>
        let taxSwitch = document.getElementById("flexSwitchCheckDefault");
        taxSwitch.addEventListener("click", () => {
            let taxInfo = document.getElementsByClassName("tax-info");
            let priceElements = document.getElementsByClassName("price");

            for (let i = 0; i < priceElements.length; i++) {
                let priceElement = priceElements[i];

                if (!priceElement.hasAttribute("data-original-price")) {
                    let basePrice = parseFloat(priceElement.textContent.replace(/,/g, ''));
                    priceElement.setAttribute("data-original-price", basePrice);
                }

                let basePrice = parseFloat(priceElement.getAttribute("data-original-price"));

                if (taxSwitch.checked) {
                    taxInfo[i].style.display = "inline";
                    let newPrice = basePrice * 1.18;
                    priceElement.textContent = newPrice.toLocaleString("en-IN");
                } else {
                    taxInfo[i].style.display = "none";
                    priceElement.textContent = basePrice.toLocaleString("en-IN");
                }
            }
        });

        document.addEventListener("mousemove", (e) => {
    const cursor = document.getElementById("custom-cursor");
    cursor.style.left = `${e.pageX}px`;
    cursor.style.top = `${e.pageY}px`;
  });

  document.querySelectorAll("a, button").forEach(element => {
  element.addEventListener("mouseover", () => {
    document.getElementById("custom-cursor").style.transform = "scale(2.5)";
  });
  element.addEventListener("mouseleave", () => {
    document.getElementById("custom-cursor").style.transform = "scale(1.5)";
  });
});

    </script>