<% layout("/layouts/boilerplate1")%>


<body>
    <style>
        #filters {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;

        }

        .filter {
            text-align: center;
            margin-right: 2rem;
            margin-top: 2rem;
            opacity: 0.7;
            font-size: large;
            
        }

        .filter:hover {
            opacity: 1;
            cursor: pointer;
           font-weight: bold;
        }
        .tax-info {
            display: none;
        }
        .tax-toggle{
            border: 1px solid black ;
            border-radius: 0.5rem;
            height: 3rem;
            padding: 1rem;
            margin-left: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
    <!-- <h3>All Listings</h3> -->
    <div id="filters">
        <a href="/listings" class="textandcolor">
        <div class="filter">
             <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div></a>
        <a href="/listings" class="textandcolor">
        <div class="filter">
            <div><i class="fa-solid fa-basket-shopping"></i></div>
            <p>Buy</p>
        </div></a>
        <a href="/listings" class="textandcolor">
        <div class="filter">
            <div><i class="fa-solid fa-rotate"></i></div>
            <p>Rent</p>
        </div></a>
        <a href="/listings/new" class="textandcolor">
        <div class="filter">
            <div><i class="fa-solid fa-shop"></i></div>
            <p>Sell</p>
        </div></a>
        <a href="/listings" class="textandcolor">
        <div class="filter">
            <div><i class="fa-solid fa-hand-holding-medical"></i></div>
            <p>Donate</p>
        </div></a>
        <a href="/blogs" class="blogslink"> 
        <div class="filter">
            <div><i class="fa-brands fa-blogger-b"></i></div>
            <p>Blogs</p>
        </div></a>
        <div class="filter">
            <a href="/blogs/tutorial" class="textandcolor">
            <div><i class="fa-regular fa-circle-play"></i></div>
            <p>Tutorial videos</p></a>
        </div></a>
       
        <div id="custom-cursor"></div>

        <div  id="daba" class="tax-toggle displaynone">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Dark</label>
            </div>
        </div>
    </div>

       
    <ul>
        <div class="quote quotefirst mt-4">
<h3 >"let us take you to the loop of EcoLoop"</h3></div>
<hr/>
        <div class="con_blog">
            <div class="newblog">
            <div class="head">
            <a href="/blogs" class="blogslink"><h3 class="texts">BLOGS</h3></a>
        </div>
      <a> <div class="own">
            <i class="fa-solid fa-circle-plus"></i>
        </div>
    </a>
    </div>
        <div  class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
                <a href="/blogs" class="listing-link">
                    <div class="card col listing-card" style="width: 20rem;">
                        <img  id="boxa" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRwyA2RyWZpnxk8YOMwAhDXkb6vJjXVMwfYw&s">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    "Trash to Treasure" 
                                </b> <br>
                                <p>  Learn simple, creative ways to turn waste into useful items and help reduce environmental impact.</p>
                            </p>
                        </div>
                    </div>
                </a>

                <a href="/blogs" class="listing-link">
                    <div class="card col listing-card" style="width: 20rem;">
                        <img id="boxa" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5UMJ1LyH7-Ewaye7L_ma5LgPi2aFNfQsqFw&s">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    "Waste to Resource: Creative Solutions for a Sustainable Home"
                                </b> <br>
                                <p> Explore easy ways to repurpose common waste items, turning them into useful, eco-friendly resources for daily living.</p>
                            </p>
                        </div>
                    </div>
                </a>

                <a href="/blogs" class="listing-link">
                    <div class="card col listing-card" style="width: 20rem;">
                        <img id="boxa" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_WfVbJR0Nk5s9THYn3ILAvZvwwVUI-PacDw&s">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    "From Waste to Wonder: Making the Most of Everyday Discards"
                                </b> <br>
                                <p> Discover simple ways to repurpose waste, turning everyday discards into useful, eco-friendly items.</p>
                            </p>
                        </div>
                    </div>
                </a>   
        </div>
    </div>
    </ul>
    <ul>
        <hr/>
        <div class="quote">
<h3 >"Why buy when you can borrow? Renting saves money and the planet, making sustainability simple and smart."</h3></div>
<hr/>
        <div class="con_blog">
            <div class="newblog">
            <div class="head">
            <a href="/listings" class="blogslink"><h3 class="texts">RENT</h3></a>
        </div>
      <a> <div class="own">
            <i class="fa-solid fa-circle-plus"></i>
        </div>
    </a>
    </div>
        <div  class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
            
            
                <a href="/listings" class="listing-link">
                    <div class="card col listing-card" style="width: 20rem;">
                        <img  id="boxa" src="https://hips.hearstapps.com/hmg-prod/images/new-continental-gtc-speed-6-large-667a96e175485.jpeg?crop=0.724xw:0.723xh;0.0829xw,0.189xh&resize=980:*">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    "Luxury Cars" 
                                </b> <br>
                                <p> starts at &#8377 5599 /day</p>
                            </p>
                        </div>
                    </div>
                </a>

                <a href="/listings" class="listing-link">
                    <div class="card col listing-card" style="width: 20rem;">
                        <img id="boxa" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLjmOQNh2PZICWxJrjRGISj_j0pFiygHf-6Q&s">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    "Expensive Handbags" 
                                </b> <br>
                                <p>  Starts at &#8377 1999 /day</p>
                            </p>
                        </div>
                    </div>
                </a>

                <a href="/listings" class="listing-link">
                    <div class="card col listing-card" style="width: 20rem;">
                        <img id="boxa" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVGr7-o5ZK1Q6D64LLkZ_O1REp0FzAjuixgg&s">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    "Expensive Accessories" 
                                </b> <br>
                                <p> Starts at &#8377 999 /day</p>
                            </p>
                        </div>
                    </div>
                </a>   
        </div>
    </div>
    </ul>


    <ul>
       

              <hr/>
        <div class="quote">
<h3 >"When waste becomes a resource, we’re not just reducing trash—we’re building a greener world."</h3></div>
<hr/>
        <div class="con_blog">
            <div class="newblog">
            <div class="head">
            <a href="/listings" class="blogslink"><h3 class="texts">Buy</h3></a>
        </div>
      <a> <div class="own">
            <i class="fa-solid fa-circle-plus"></i>
        </div>
    </a>
    </div>
        <div  class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
            
            
                <a href="/listings" class="listing-link">
                    <div class="card col listing-card" style="width: 20rem;">
                        <img  id="boxa" src="https://www.creativeinchicago.com/wp-content/uploads/2024/04/scrap-fabric.jpg">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    "Fabric Scrap" 
                                </b> <br>
                                <p> &#8377 200/kg</p>
                            </p>
                        </div>
                    </div>
                </a>

                <a href="/listings" class="listing-link">
                    <div class="card col listing-card" style="width: 20rem;">
                        <img id="boxa" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTCiC1eSJmbWFbNRgMr0OdQjAYioKAKSn_oA&s">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    "Used Books" 
                                </b> <br>
                                <p> &#8377 50/book</p>
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/listings" class="listing-link">
                    <div class="card col listing-card" style="width: 20rem;">
                        <img id="boxa" src="https://media.istockphoto.com/id/836292448/photo/white-broken-plates-on-a-wooden-floor.jpg?s=612x612&w=0&k=20&c=L-d2oQsvHBgWQSzecvNihGv1Ctefv-ufXeX7z6RqjIs=">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    "Broken Dishes and Cups" 
                                </b> <br>
                                <p> &#8377 100/kg</p>
                            </p>
                        </div>
                    </div>
                </a> 
        </div>
    
    </ul>
    <hr/>
    <div class="quote">
<h3 >    "Donating is the ultimate act of recycling—it transforms waste into support, comfort, and kindness."
</h3></div>
<hr/>
    <ul>

        <div class="con_blog">
            <div class="newblog">
            <div class="head">
            <a href="/listings" class="blogslink"><h3 class="texts">Donate</h3></a>
        </div>
      <a> <div class="own">
            <i class="fa-solid fa-circle-plus"></i>
        </div>
    </a>
    </div>
        <div  class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
            
            
                <a href="/listings" class="listing-link">
                    <div class="card col listing-card" style="width: 20rem;">
                        <img  id="boxa" src="https://goodonyou.eco/wp-content/uploads/2019/09/Upcycle-Clothes.jpg">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    "Old Clothes" 
                                </b> <br>
                                <p> Free</p>
                            </p>
                        </div>
                    </div>
                </a>

                <a href="/listings" class="listing-link">
                    <div class="card col listing-card" style="width: 20rem;">
                        <img id="boxa" src="https://projectbgreen.com/wp-content/uploads/elementor/thumbs/3l7IqLjup5pkdfBjBHNs3hfDmRSjYBUo1675261289-1-qkx7d0t67v0iuk877cgyvkw7f5qbh0ahhtxou596qg.jpg">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    Clean Toys in Good Condition" 
                                </b> <br>
                                <p> Free</p>
                            </p>
                        </div>
                    </div>
                </a>

                <a href="/listings" class="listing-link">
                    <div class="card col listing-card" style="width: 20rem;">
                        <img id="boxa" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMTXmNYgdDkTKSV9GICssmknNqV_AudrLPvQ&s">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    " Furniture and Household Goods" 
                                </b> <br>
                                <p> Free</p>
                            </p>
                        </div>
                    </div>
                </a>   
        </div>
    </div>
    </ul>

    <div class="video">
     
        <iframe 
            src="https://www.youtube.com/embed/_XTYv-AP4Jk?autoplay=1&mute=1&controls=0&loop=1&playlist=_XTYv-AP4Jk" 
            title="YouTube video player" 
            frameborder="0" 
            allow="autoplay; encrypted-media; picture-in-picture" 
            allowfullscreen>
        </iframe>
    </div>
</body>

<script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click", () => {
        let taxinfo=document.getElementsByClassName("tax-info");
        for(info of taxinfo){
            if(info.style.display!="inline"){
            info.style.display="inline";
            }else{
                info.style.display="none";
            }
        }
    })


   
document.addEventListener("mousemove", (e) => {
const cursor = document.getElementById("custom-cursor");
cursor.style.left = `${e.pageX}px`;
cursor.style.top = `${e.pageY}px`;
});

document.querySelectorAll("a, button").forEach(element => {
element.addEventListener("mouseover", () => {
document.getElementById("custom-cursor").style.transform = "scale(2.5)";
});
element.addEventListener("mouseleave", () => {
document.getElementById("custom-cursor").style.transform = "scale(1.5)";
});
});



</script>