<% layout("/layouts/boilerplate1")%>
<body>
    <h1 class="mt-4 mb-4">Tutorials</h1>
    <hr>
    <h5 class="mt-2 mb-2">Guides you through Sustainability:</h5>
    <hr><br>
    <div  class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <a href="/blogs/tutorial/video" class="listing-link">
            <div class="card col listing-card" style="width: 20rem">
                <img  id="boxa" src="https://img.freepik.com/premium-photo/background-texture-leaves-background-green-leaves-sustainability-environmental-friendliness_217593-47594.jpg">
                <div class="card-img-overlay"></div>
                <div class="card-body mt-3">
                    <p class="card-text">
                        <b>
                            "10 Easy Ways to Start Living Sustainably Today" 
                        </b> <br> <small>4.3M views</small><br>
                        <p>  Discover simple, effective tips to kick-start your journey toward a more sustainable lifestyle.</p>
                    </p>
                </div>
            </div>
        </a>
        <a href="/blogs/tutorial/video" class="listing-link">
            <div class="card col listing-card" style="width: 20rem">
                <img  id="boxa" src="https://www.graygroupintl.com/hubfs/Gray%20Group%20International/GGI%20-%20Approved%20and%20Converted%20%28WebP%29/Sustainable%20Design%20Balancing%20Aesthetics%20and%20Impact.webp">
                <div class="card-img-overlay"></div>
                <div class="card-body mt-3">
                    <p class="card-text">
                        <b>
                            "Eco-Friendly Home Hacks: Simple Changes for a Greener Lifestyle" 
                        </b> <br> <small>74k views</small><br>
                        <p>  Learn how to make your home more eco-friendly with practical and budget-friendly tips.</p>
                    </p>
                </div>
            </div>
        </a>
        <a href="/blogs/tutorial/video" class="listing-link">
            <div class="card col listing-card" style="width: 20rem">
                <img  id="boxa" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwfupdr6wqTEvhgcMsJk8Z8zW2-kqwIUNGT0r5bQb9JItohA-SR8shFWCtCeJ7H9md444&usqp=CAU">
                <div class="card-img-overlay"></div>
                <div class="card-body mt-3">
                    <p class="card-text">
                        <b>
                            "Sustainable Shopping: How to Make Environmentally Smart Choices" 
                        </b> <br> <small>102k views</small><br>
                        <p>  Explore how to make informed, eco-conscious choices while shopping. This video breaks down what to look for in sustainable brands and how your purchasing habits can contribute to a healthier planet.</p>
                    </p>
                </div>
            </div>
        </a>
</div>
    <hr>
    <h5 class="mt-2 mb-2">Embrace Sustainability: 10 Easy Ways to Start Today</h5>
    <hr><br>
    <div  class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <a href="/blogs/tutorial/video" class="listing-link">
            <div class="card col listing-card" style="width: 20rem">
                <img  id="boxa" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLI4dIIFLIbkuvwH82pNZinB25kTARSU-WLL2vlFiUljhvw6TIskKe-kp0pxsCxjvJqEA&usqp=CAU">
                <div class="card-img-overlay"></div>
                <div class="card-body mt-3">
                    <p class="card-text">
                        <b>
                            "Zero Waste 101: Beginners Guide to Reducing Your Household Waste"
                        </b>  <small>756 views</small><br>
                        <p>  Dive into the essentials of a zero-waste lifestyle with this beginner-friendly guide.</p>
                    </p>
                </div>
            </div>
        </a>
        <a href="/blogs/tutorial/video" class="listing-link">
            <div class="card col listing-card" style="width: 20rem">
                <img  id="boxa" src="https://i.pinimg.com/474x/f0/c6/c1/f0c6c1105c45cb6b6862aa09f49512f7.jpg">
                <div class="card-img-overlay"></div>
                <div class="card-body mt-3">
                    <p class="card-text">
                        <b>
                            "Top 5 DIY Projects for a More Sustainable Home" 
                        </b> <br> <small>91k views</small><br>
                        <p>  Get hands-on with these five eco-friendly DIY projects that will help you live more sustainably.</p>
                    </p>
                </div>
            </div>
        </a>
        <a href="/blogs/tutorial/video" class="listing-link">
            <div class="card col listing-card" style="width: 20rem">
                <img  id="boxa" src="https://img.freepik.com/premium-photo/photo-realistic-green-leaf-with-recycling-arrows-icon-eco-friendly-practices-sustainability-co_980716-176541.jpg">
                <div class="card-img-overlay"></div>
                <div class="card-body mt-3">
                    <p class="card-text">
                        <b>
                            "The Future of Green Technology: Innovations You Should Know" 
                        </b> <br> <small>34k views</small><br>
                        <p>  Take a closer look at the latest advancements in green technology that are changing the world.</p>
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>
</body>
