body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
  
}

.blogslink{
    color: #222222 !important;
    text-decoration: none !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
   
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4da847; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4da847; 
  }
.container{
    /* margin: 0 10rem 0 10rem !important; */
    flex: 1;
}
#custom-cursor {
    position: absolute;
    width: 40px;
    height: 40px;
  background-color: #4da847;
  opacity: 0.5;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: width 0.1s ease, height 0.1s ease;
  }
.navbar{
    background-color: white;
    height: 5rem;
}

.filter{
    font-size: 0.9rem;
}
.fa-store{
    color: #4da847;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
    font-weight: bold !important;
}
.nav-link:hover{
    text-decoration: underline;
}

.footer {
    cursor: pointer;
    z-index: 1;
    --footer-background: #4da847;
    display:grid;
    position: relative;
    grid-area: footer;
    margin-top: 10rem;
  margin-left: 0.08rem;
    min-height:10rem;
    .bubbles {
        position: absolute;
        top:0;
        left:0;
        right:0;
        height:1rem;
        background:var(--footer-background);
        filter:url("#blob");
        .bubble {
            position: absolute;
            left:var(--position, 50%);
            background:var(--footer-background);
            border-radius:100%;
            animation:bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
                bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
            transform:translate(-50%, 100%);
        }
    }

    .content {
        z-index: 2;
        display:grid;
        grid-template-columns: 1fr auto;
        grid-gap: 4rem;
        padding:2rem;
        background:var(--footer-background);
        a, p {
            color:#F5F7FA;
            text-decoration:none;
        }
        b {
            color:white;
        }
        p {
            margin:0;
            font-size:.75rem;
        }
        >div {
            display:flex;
            flex-direction:column;
            justify-content: center;
            >div {
                margin:0.25rem 0;
                >* {
                    margin-right:.5rem;
                }
            }
            .image {
                align-self: center;
                width:4rem;
                height:4rem;
                margin:0.25rem 0;
                background-size: cover;
                background-position: center;
            }
        }
    }
}

.icons{
    margin: 1rem 1rem 1rem 1rem;
    
}
#icon{
    margin: 1rem 1rem;
    font-size: 25px;
    color: #ebebeb;
}
@keyframes bubble-size {
0%, 75% {
    width:var(--size, 4rem);
    height:var(--size, 4rem);
}
100% {
    width:0rem;
    height:0rem;
}
}
@keyframes bubble-move {
0% {
    bottom:-4rem;
}
100% {
    bottom:var(--distance, 10rem);
}
}

#daba{
    

    font-size: large;
   font-weight: 70px !important; 
   border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

  
/* Cards */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    height: 20rem;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text b{
    font-size: 1.1rem;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* Card effect */

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn, .edit-btn{
    background-color:#307834 !important;
    border: none !important;
}

.btns{
    display: flex;

}

.card-show{
    padding-left: 0;
    padding-right: 0;
}
#revbox{
    width: 28rem;
    height: 10rem;
    border: none;
    box-shadow: 2px 2px 2px 2px rgb(213, 209, 209);

}
.card-title{
    margin-top: 0.4rem;
    font-size:large;
    font-weight: bold;
}
#revbox:hover{

    opacity: 0.8;
     
}
.head{
    margin-top: 15px;
    font-weight: 300;
  cursor: pointer;
  font-style: initial;
  
}
.texts{
    font-weight: 700;
    cursor: pointer;
    font-style: initial;
    color: #222222;
    text-decoration: none !important;
   
  
}
.texts:hover{
    text-decoration: underline;
    opacity: 0.5;
    color: #222222;
}
.newblog{
    display: flex;
    justify-content: space-between;
    width: 10rem;
    cursor: pointer;
}

.own i {
    color: #222222;
    font-size: 28px;
   margin-top: 17px;
}
#boxa{
    height: 14rem;
    width:100%;
    border-radius: 20px;
}


/* blogs */

.red{
    margin-top:3rem;
    background-color: red;
    height: 17rem;
    border-radius: 2rem;
}

.red img{
    border-radius: 2rem 0 0 2rem !important;
    height: 17rem !important;
}

.red:hover{
    scale: 1.02;
    transition-duration: 4;
}

.summa{
    display: inline-block;
    margin-bottom: 10rem;
}

.cardhead{
    font-size: 2rem !important;
}

#editor{
    min-height: 20rem !important;
}

.blo{
    margin-left: 2rem !important;
}
.summ{
    margin-top: 2rem !important;
}
.nodeco{
    text-decoration: none !important;
}

.desc{
    width: 70%;
}

.descimg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.descp{
    margin-left: 4rem;
    margin-top: 2rem;
    border: 1px solid black;
    padding: 2rem;
    border-radius: 2rem;
}

.pd-3{
    padding: 1rem;
}
.video {
    display: block;
    margin: 0 auto; /* Centers the video */
    
}
.video iframe{
    width: 50%;
    height: 500px;
    display: block;
    margin: 0 auto; /* Centers the video */
    border: 2px solid #000;
    width: 100%;
}

.video1 {
    display: block;
    margin: 0 auto; /* Centers the video */
    
}
.video1 iframe{
    width: 50%;
    height: 740px;
    display: block;
    margin: 0 auto; /* Centers the video */
    border: 2px solid #000;
    width: 100%;
}

.quotefirst{
    display: flex;
    justify-content: center;
    align-items: center;
}

.displaynone{
    display: none !important;
}

.textandcolor{
    color: #222222;
    text-decoration: none;
}

.textdeco{
    text-decoration: none !important;
}