body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    /* margin: 0 10rem 0 10rem !important; */
    flex: 1;
}

.navbar{
    background-color: white;
    height: 5rem;
}

.filter{
    font-size: 0.9rem;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}
.nav-link:hover{
    text-decoration: underline;
}


.f-info-links, .f-info-socials,.f-info-brand{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.f-info-socials i{
    font-size: 1.2rem;
    margin: 0 1rem;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info{
    display: flex;
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    height: 20rem;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text b{
    font-size: 1.1rem;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* Card effect */

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn, .edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.btns{
    display: flex;

}

.card-show{
    padding-left: 0;
    padding-right: 0;
}